.container{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap: 5px;
   
}
.menu{

    border: 5px solid black;
    padding:15px;
    background-color: #911;
}
*{
    margin: 0;
    padding: 0;
}
.menu .img-1 img{
    width: 350px;
    align-items: center;
    align-self: center;
    justify-items: center;
}